* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box; 
}

h1 {
    background-color: #E7E8D8;
    color: black;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6); 
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem; 
    gap: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score,
#computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem; 
}

#msg {
    margin-top: 2rem;
    background-color: black;
    font-size: 2rem;
    display: inline-block; 
    padding: 1rem 2rem; 
    border-radius: 0.5rem;
    color: azure;
}
.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e7e8d8;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d1d2c8;
}
